  <div class='container-fluid'>
    <div class="col-md-8">
    <%= form_with(model: forum, local: true) do |form| %>
      <% if forum.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(forum.errors.count, "error") %> prohibited this forum from being saved:</h2>

          <ul>
            <% forum.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <%= form.label :title, class: "col-sm-2 col-form-label col-form-label-lg" %>
        <%= form.text_field :title, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :body, class: "col-sm-2 col-form-label col-form-label-lg" %>
        <%= form.text_area :body, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :tags, class: "col-sm-2 col-form-label col-form-label-lg" %>
        <%= form.text_field :tag_list, value: @forum.send(:tag_list).to_s, class: "form-control" %>
        <small id="emailHelp" class="form-text text-muted">user comma separated values to indicate the category your post is about e.g candida.</small>
      </div>

      <div class="actions">
        <%= form.submit, 'submit', class: "btn btn-primary"%>
      </div>
    <% end %>
  </div>
  </div>
