<%= form_with(model: forum, local: true) do |form| %>
  <% if forum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(forum.errors.count, "error") %> prohibited this forum from being saved:</h2>

      <ul>
        <% forum.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

   <div class="field">
    <%= form.label :tags %>
    <%= form.text_field :tag_list, value: @forum.send(:tag_list).to_s, placeholder: 'user comma separated values' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
