<p id="notice"><%= notice %></p>
<div class="list-group">
<div class="overflow-auto">
  
  <% @forums&.each do |forum| %>
   <div class="forum-item">
      <%= link_to forum, class: "list-group-item list-group-item-action" do %>
        <div class="d-flex w-100 justify-content-between ">
          <h5 class="mb-1"><b><%= forum&.title %></b></h5>
          <small><b></b>posted by: <%= forum&.user&.email %></small>
        </div>
        <p class="mb-1"><%= forum&.body %></p>
        <small><b>Tags: </b><%= forum&.tag_list %></small>            
      <% end %>
    </div>
    <% end %>

  </div>
</div>
<%= link_to "New Forum", new_forum_path %>

