<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @forum.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @forum.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @forum.body %>
</p>
<%= form_for [ @forum, Comment.new] do |f| %>
      <%= f.text_area :body, placeholder: "Add a comment" , class: 'form-control'%>
      <%= f.submit "Add Comment", class: "btn btn-primary" %>
    <% end %>
<ul>
<%= render partial: 'comments/comment', collection: @forum.comments %>
</ul>

<%= link_to 'Edit', edit_forum_path(@forum) %> |
<%= link_to 'Back', forums_path %>
